@failean:registry=https://pkgs.dev.azure.com/failean/_packaging/failean/npm/registry/
always-auth=true

; begin auth token
//pkgs.dev.azure.com/failean/_packaging/failean/npm/registry/:username=failean
//pkgs.dev.azure.com/failean/_packaging/failean/npm/registry/:_password=${NPMTOKEN}
//pkgs.dev.azure.com/failean/_packaging/failean/npm/registry/:email=michael@failean.com
//pkgs.dev.azure.com/failean/_packaging/failean/npm/:username=failean
//pkgs.dev.azure.com/failean/_packaging/failean/npm/:_password=${NPMTOKEN}
//pkgs.dev.azure.com/failean/_packaging/failean/npm/:email=michael@failean.com
; end auth token
